<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Testing 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <button ion-button full color="primary" (click)="listPairedDevices()">
    <ion-icon name="refresh"></ion-icon>&nbsp;Refresh Bluetooth Devices
  </button>
  <ion-item>
    <ion-label>Bluetooth</ion-label>
    <ion-select placeholder="Select bluetooth" (ionChange)="blSelected($event)">
      <ion-select-option *ngFor="let i of pairedList;let j=index" [value]="j">{{i.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <button ion-button full color="primary" *ngIf="listToggle" (click)="selectDevice()">
    <ion-icon name="bluetooth"></ion-icon>&nbsp;Connect Bluetooth Devices
  </button>

  <ion-list>
    <ion-item>
      <button ion-button small color="success" (click)="btnOnClicked()">ON</button> Turn on all LED on Maker UNO
    </ion-item>
    <ion-item>
      <button ion-button small color="danger" (click)="btnOffClicked()">OFF</button> Turn off all LED on Maker UNO
    </ion-item>
  </ion-list>

</ion-content>