<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ini judul</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Scan Device</h1>
    <p>
      <button (click)="scan()">Scan</button>
    </p>
    <p>
      {{ blDevices }}
    </p>
    <p *ngIf="loadingScan">
      loading...
    </p>
    <table border="1" *ngIf="blDevices.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>RSSID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of blDevices">
          <td>{{ item.name }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.rssid }}</td>
          <td>
            <button (click)="connect(item)">Connect</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>